.about {
  width: 100%;
}

.about__wrapper {
  max-width: 1260px;
  padding: 115px 50px 145px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  // @media (max-width: $tablet-width) {
  //   padding: 100px 45px 100px;
  //   column-gap: 30px;
  // }
}

.about__text {
  padding-top: 57px;
  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 22px;

    @media (max-width: $tablet-width) {
      font-size: 26px;
      line-height: 36px;
      margin: 0;
      margin-bottom: 30px;
      max-width: 302px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 515px;

    // @media (max-width: $tablet-width) {
    //   max-width: 324px;
    // }
  }
}

// .about__image {
//   min-width: 324px;
//   min-height: 174px;
// }
