.about-us {
  margin: 0 auto;
  height: 100%;
  max-width: 1270px;
  padding: 50px;
  padding-left: 55px;
  padding-right: 47px;
  color: $alice-blue;


  @media (max-width: $tablet-width) {
    padding: 45px;
    padding-top: 41px;
    padding-right: 37px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 24px;
  }
}

.about-us-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // @media (max-width: $tablet-width) {
  //   flex-wrap: wrap;
  // }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: normal;
  }
}
