.advantages {
  width: 100%;
  background-color: $tangaroa;
  background-image: image-set(
    url("../img/advantages/advantages-desktop.webp") 1x,
    url("../img/advantages/advantages-desktop@2x.webp") 2x,
    url("../img/advantages/advantages-desktop.jpg") 1x,
    url("../img/advantages/advantages-desktop@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $tablet-width) {
    background-image: image-set(
    url("../img/advantages/advantages-tablet.webp") 1x,
    url("../img/advantages/advantages-tablet@2x.webp") 2x,
    url("../img/advantages/advantages-tablet.jpg") 1x,
    url("../img/advantages/advantages-tablet@2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // padding-top: 198px;
    // padding-left: 50px;
    // padding-bottom: 205px;
  }

  // @media (max-width: $mobile-width) {
  //   background-image: image-set(
  //   url("../img/advantages/advantages-mobile.webp") 1x,
  //   url("../img/advantages/advantages-mobile@2x.webp") 2x,
  //   url("../img/advantages/advantages-mobile.jpg") 1x,
  //   url("../img/advantages/advantages-mobile@2x.jpg") 2x
  //   );
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   padding: 192px 25px 190px;
  // }
}

.advantages__wrapper {
  max-width: 1260px;
  padding: 110px 50px 120px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 90px 45px 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 57px 15px 66px;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $tangaroa;
    text-align: center;
    margin: 0;
    margin-bottom: 47px;

    @media (max-width: $tablet-width) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;

  @media (max-width: $tablet-width) {
    column-gap: 30px;
    row-gap: 30px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}

.advantages__item {
  padding: 30px;
  padding-bottom: 44px;
  background-color: $alice-blue;

  @media (max-width: $tablet-width) {
    padding: 27px 18px 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 25px 18px 20px;
  }


  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 9px;

    @media (max-width: $tablet-width) {
      line-height: 25px;
    }

    @media (max-width: $mobile-width) {
      max-width: 190px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  svg {
    color: $tangaroa;
    margin-bottom: 13px;
  }

  &--inclusive {
    p {
      max-width: 285px;
    }

    svg {
      @media (max-width: $tablet-width) {
        width: 27px;
        height: 26px;
      }
    }
  }

  &--liner {
    svg {
      @media (max-width: $tablet-width) {
        width: 21px;
        height: 26px;
      }
    }
  }

  &--zodiac {
    @media (max-width: $mobile-width) {
      padding-top: 20px;
    }

    h3 {
      @media (max-width: $tablet-width) {
        margin-bottom: 20px;
      }

      @media (max-width: $mobile-width) {
        margin-bottom: 7px;
      }
    }

    svg {
      @media (max-width: $tablet-width) {
        width: 36px;
        height: 36px;
        margin-bottom: 3px;
      }

      @media (max-width: $mobile-width) {
        margin-bottom: 9px;
      }
    }
  }
}
