.hero {
  width: 100%;
}

.hero__wrapper {
  color: $alice-blue;
  padding: 270px 50px 283px;
  padding-left: 5.35%;
  background-color: $tangaroa;
  background-image: image-set(
    url("../img/hero/hero-desktop.webp") 1x,
    url("../img/hero/hero-desktop@2x.webp") 2x,
    url("../img/hero/hero-desktop.jpg") 1x,
    url("../img/hero/hero-desktop@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $tablet-width) {
    background-image: image-set(
    url("../img/hero/hero-tablet.webp") 1x,
    url("../img/hero/hero-tablet@2x.webp") 2x,
    url("../img/hero/hero-tablet.jpg") 1x,
    url("../img/hero/hero-tablet@2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 267px;
    padding-left: 45px;
    padding-bottom: 276px;
  }

  @media (max-width: $mobile-width) {
    background-image: image-set(
    url("../img/hero/hero-mobile.webp") 1x,
    url("../img/hero/hero-mobile@2x.webp") 2x,
    url("../img/hero/hero-mobile.jpg") 1x,
    url("../img/hero/hero-mobile@2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 177px 15px 180px;
  }
}

.hero__description {
  max-width: 990px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 600px;
    margin: 0;
  }

  h2 {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-bottom: 13px;

    @media (max-width: $tablet-width) {
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 12px;
    }

    @media (max-width: $mobile-width) {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 8px;
    }
  }

  p {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 22px;
      max-width: 200px;
    }
  }
}
