.main-header {
  width: 100%;
  min-height: 120px;
  z-index: 3;
  color: $alice-blue;
  position: absolute;

  @media (max-width: $tablet-width) {
    min-height: 100px;
  }

  // @media (max-width: $mobile-width) {
  //   min-height: 70px;
  // }
}

.main-header-wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1260px;
  padding: 35px 50px 0;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 26px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 15px 20px 16px;
  }
}
