.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 33px;
  row-gap: 12px;

  @media (max-width: $tablet-width) {
    column-gap: 23px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    row-gap: 8px;
  }
}

.menu__item {
  max-width: 190px;
}

.menu__link {
  color: $alice-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 190px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 15px;
  }
}
