.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 33px;
  row-gap: 10px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    gap: 23px;
  }
}

.navigation__link {
  width: max-content;
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $alice-blue;

  p {
    margin: 0;
    max-width: 200px;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation__button {
  display: none;
  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.navigation__logo {
  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}


.navigation__logo-wrapper {
  @media (max-width: $tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-width) {
    img {
      width: 42px;
      height: 22px;
    }
  }
}


@media (max-width: $mobile-width) {
  .navigation__link {
    p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .navigation__list {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-left: 0;
  }

  .navigation__button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 25px;
    position: absolute;
    top: 0;
    right: 10px;
    color: $alice-blue;

    &:active {
      color: $alice-blue;
      background-color: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 21px;
      width: 23px;
      height: 1px;
      background-color: $alice-blue;
      box-shadow: 0 6px 0 0  $alice-blue, 0 12px 0 0  $alice-blue;
    }
  }

  .navigation--opened {
    position: absolute;
    z-index: 10;
    left: 35px;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: calc(100% - 35px);
    background-color: $color-default-white;
    padding: 80px 26px 15px;
    flex-direction: column;
    align-items: normal;

    .navigation__list {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      gap: 18px;

      &::after {
        content: "";
        width: 42px;
        height: 22px;
        top: 0;
        left: 0;
        background: url("../img/svg/logo-black.svg");
        transform: translate(-10px, -260px);
      }
    }

    .navigation__link {
      color: $tangaroa;
    }

    .navigation__logo {
      display: none;
    }

    .navigation__overlap {
      display: block;
      position: absolute;
      top: 0;
      left: -35px;
      width: 35px;
      height: 100vh;
      overflow: hidden;
      background-color: rgba(0, 43, 102, 0.5);
    }
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--nojs .navigation__button {
    display: none;
  }

  .navigation--nojs {
    position: static;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: normal;

    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .navigation--nojs .navigation__list {
    gap: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 143px;
  }

  .navigation--nojs .navigation__item {
    display: block;
  }

  .navigation--closed .navigation__button::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 21px;
    width: 23px;
    height: 1px;
    background-color: $alice-blue;
    box-shadow: 0 6px 0 0  $alice-blue, 0 12px 0 0  $alice-blue;
  }

  .navigation--closed .navigation__button:active::before {
    background-color: $alice-blue;
    box-shadow:
      0 6px 0 0  $alice-blue,
      0 12px 0 0  $alice-blue;
  }

  .navigation--opened .navigation__button {
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 12px;
      top: 31px;
      width: 17.5px;
      height: 1px;
      background-color: $color-default-black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: $color-default-black;
    }
  }
}
