.social {
  margin-left: auto;
  padding-top: 10px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding-top: 0;
  }
}

.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 27px;
  row-gap: 12px;

  @media (max-width: $tablet-width) {
    gap: 23px;
  }
}

.social__link {
  svg {
    color: $alice-blue;

    @media (max-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &--ok {
    svg {
      @media (max-width: $tablet-width) {
        width: 10px;
        height: 16px;
      }
    }
  }
}
